@charset "utf-8";
body{
    font-family: 'Spoqa Han Sans','Malgun Gothic','맑은 고딕',-apple-system, 'Segoe UI', Dotum ,sans-serif;
    margin:0;
    position: relative;
    background:url("images/apptop.jpg") no-repeat;
    background-position:1000px 200px;}
a{
    text-decoration: none;
    color:inherit;
    display: inline-block;
}
ul{
    list-style:none;
    margin:0; padding:0;
}
p{
    margin:0;
    padding:0;
    display: inline-block;
}
h1,h2,h3{
    margin:0; padding:0;
}
img{
    vertical-align:top;
}
/**************위 배너 영역************/
.container1{
    display:flex;
    justify-content:space-around;
    align-content:flex-end;
    height:100%;
}
.title2{
    font-weight:bold;
    font-size:1.7rem;
    position:absolute;
    top:100px; left:150px;
}
.myface{
    display:inline-block;
    position:absolute;
    top:250px; left:150px;
    width:300px;
    font-size:0.695rem;
}
.myface li:nth-child(3){
    position:absolute;
    top:15px; left:80px;
}
.myface li:nth-child(4){
    position:absolute;
    top:35px; left:80px;
}
.myface .dot{
    margin-left:25px;
}
.wish2{
    position: absolute;
    top:370px; left:150px;
    line-height:1.2;
    font-size:0.785rem;
}
.head{
    position: absolute;
    top:250px; left:450px;
    line-height:1.2;
}
.head h1{
    font-size:4rem;
    font-weight:bold;
}
.head .project{
    margin-top:150px;
    font-size:1.2rem;
    font-weight:bold;
}
.head .project p{
    display:block;
    margin:8px 0;
}
.head .project img:nth-of-type(1){
    position:absolute;
    top:-10px; left:165px;
}
.head .project img:nth-of-type(2){
    position:absolute;
    top:60px; left:55px;
}
nav{
    position: fixed;
    bottom:50%; right:100px;
    color:gray;
    text-align: right;
    font-size:0.785rem;
}
nav li:nth-child(2){
    color: black;
}
nav li{
    padding:10px 0;
}
/**************아래 메인 내용 영역************/
.contents{
    overflow: hidden;
}
.main{
    margin:200px auto;
    text-align:center;
}
.cicle{
    vertical-align:middle;
    position:relative;
    top:0; left:30px;
    z-index:-1;
}
/*********** 비전 ***********/
.vision{
    margin-top:1050px;
    margin-right:auto;
    text-align: center;
    /*background:url(images/circle.png);
    background-repeat:no-repeat;
    background-position:800px 0px;*/
}
.vision img{
    margin:20px 0;
}
.vision h3{
    margin:40px 0;
}
.vision p{
    display:block;
}
.vision span:last-child{
    font-size:1.965rem;
    font-weight:bold;
    background: linear-gradient(to top, #dcec8c 50%, transparent 50%);
}
.vision > .txtbox{
    margin-bottom:200px;
    line-height:2;
}
.vision > .txtbox > span{
    font-weight:bold;
}
/*********** 기존앱의 문제점 ***********/
.problum figure{
    display:inline-block;
    padding:0 20px;
}
.problum figure figcaption{
    margin-top:20px;
    font-size:0.875rem;
    font-weight:bold;
}
.problum{
    margin:200px auto;
    text-align:center;
}
.problum h3{
    margin:40px 0;
}
.problum figure{
    display:inline-block;
    padding:0;
    text-align:center;
}
.problum figure figcaption{
    margin-top:20px;
    font-size:0.875rem;
    font-weight:bold;
}
/*********** 선정이유 ***********/
.selection{
    margin:200px auto;
    text-align:center;
}
.selection h3{
    margin:40px 0;
}
.selection p{
    line-height:2.0;
}
.selection span{
    font-weight:600;
    background: linear-gradient(to top, #dcec8c 50%, transparent 50%);
}
/*********** 선정이유 ***********/
.improve{
    margin:200px auto;
    text-align:center;
    width:400px;
}
.improve h3{
    margin:20px 0;
}
.improve p{
    line-height:2.0;
    margin:10px;
}
.improve span{
    font-weight:600;
    background: linear-gradient(to top, #dcec8c 50%, transparent 50%);
}
/*********** 타깃층 ***********/
.target{
    margin:200px auto;
    text-align:center;
}
.target h3{
    margin:40px 0;;
}
.target p{
    line-height:2.0;
    font-size:0.875;
}
.target .bold{
    font-weight:600;
    font-size:0.995rem;
}
.target .color{
    color:#B5C757;
    font-size:1.23rem;
    font-weight:600;
}
/*********** 스타일가이드 ***********/
.stylegide{
    margin:200px auto;
    text-align:center;
}
.stylegide h3{
    margin:40px 0;
}

.stylegide > .cicle{
    vertical-align:middle;
    position:relative;
    top:0; left:30px;
    z-index:-1;
}
/*********** 로고 ***********/
.logo{
    margin:200px auto;
    text-align:center;
    flex-direction:column;
    width:800px;
}
.logo .txtbox{
    justify-content:flex-start;
    align-items:flex-start;
    width:680px;
}

.logo .txtbox p:nth-child(1){
    width:182px;
    margin-right:12px;
}
.logo .txtbox p:nth-child(2){
    width:300px;
    margin:0 auto;
}
.logo .txtbox p:nth-child(3){
    width:160px;
    margin-left:13px;
}
/******************앱디자인**************************/
.appdisign{
    margin-top:200px auto;
    text-align:center;
}
.appdisign h3{
    margin:40px 0;
}
.appdisign .detail{
    width:870px;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
}
.detail img:nth-child(2){
    margin-top:100px;
    padding:0;
    margin-left:110px;
}
.detail img:nth-child(3){
    margin-top:150px;
    padding:0;
    margin-right:160px;
}
.detail p{
    font-size:0.775rem;
    margin-right:100px;
    margin-top:10px;
    color:#696969;
}
.appdisign .txt_box span{
    color:#696969;
    background: linear-gradient(to top, #dcec8c 50%, transparent 50%);
}
.txt_box h5{
    color:#696969;
    line-height:1.5;
}


/********************************************/
.design2, .design3{
    margin:100px auto;
    text-align:center;
}
.design2 p, .design3 p{
    display:block;
    line-height:1.5;
    font-size:0.879rem;
    margin:20px;
}
.design2 img, .design3 img{
    margin:20px;
}
.design3 > img:nth-child(even){
    margin-top:60px;
}
.design2 span, .design3 span{
    color:#696969;
    background: linear-gradient(to top, #dcec8c 50%, transparent 50%);
}
/*********** 맨아래 연결버튼 ***********/
.gogo{
    margin:150px auto;
    text-align:center;
    overflow: hidden;
}
.gogo p{
    display: block;
    margin:50px;
    font-size:1.2rem;
    font-weight:bold;
    color:black;
    line-height:1.5;
}
.gogo .btn{
    display: inline-block;
    width:220px; height:50px;
    background-color:#D8EFC1;
    border-radius:15px;
    text-align: center;
    line-height:2.8;
    font-weight:bold;
    margin:30px 50px;
    margin-bottom:100px;
}
.gogo .yellowbtn{
    display: inline-block;
    width:50px; height:50px;
    background-color:#FEE648;
    border-radius:50%;
    font-weight:bold;
    line-height:2.8;
    margin-bottom:900px;
    text-align: center;
    position:absolute;
    bottom:-800px; left:450px;
}



/***************************************/

